.top-header {
  height: 200px;
  width: 100%;
  background-color: #C7010E;
  text-align: center;
  top: 0px;
  left: 0px; }

.top-header h1 {
  padding-top: 40px;
  font-size: 40px; }

.top-header h2 {
  padding-top: 10px; }

.top-navigation {
  height: 50px;
  width: 100%;
  background-color: black; }

.ul-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.ul-navigation li {
  display: inline;
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 25px;
  color: grey; }

.main-Body {
  height: 100%;
  width: 100%;
  background-color: #C7010E; }

.top-Body {
  height: 400px;
  width: 100%; }

.spanClass {
  font-size: 40px; }

.ul-navigation li a {
  color: white;
  text-decoration: none; }

.abt-me {
  float: left;
  height: 400px;
  width: 30%; }

.abt-stadium {
  float: right;
  height: 400px;
  width: 68%; }

.abt-stadium img {
  height: 280px;
  width: 80%;
  padding-left: 150px; }

.bottom-body {
  height: 200px;
  width: 100%; }

.links-body {
  height: 150px;
  width: 30%;
  text-align: center;
  top: 0;
  float: left; }

.visit-links {
  background-color: #C7010E; }

.visit-navigation {
  list-style-type: none; }

.history {
  float: right;
  height: 400px;
  width: 68%; }

.footer {
  height: 80px;
  width: 100%;
  background-color: black;
  font-size: 30px;
  color: white;
  text-align: center;
  border: 1px solid black; }

@media all and (max-width: 750px) {
  .top-header {
    height: 20%;
    width: 100%; }
  .ul-navigation {
    height: 30%;
    width: 100%; }
  .ul-navigation li {
    padding: 0 0 0 0;
    border-bottom: 1px solid white; }
  .ul-navigation li a {
    display: block;
    width: 100%;
    background-color: black; }
  .main-Body {
    display: flex;
    flex-direction: column;
    padding-top: 80px; }
  .top-Body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .abt-me {
    height: 100%;
    width: 100%; }
  .abt-me img {
    width: 90%; }
  .abt-stadium {
    height: 100%;
    width: 100%; }
  .abt-stadium img {
    width: 70%;
    padding-left: 40px; }
  .bottom-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%; }
  .links-body h2 {
    font-size: 30px; } }
